@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poiret+One&family=Press+Start+2P&family=Quicksand:wght@300&family=Roboto:ital@1&family=Squada+One&display=swap');

footer{
    background: #5B3331;
    width: 100%;
    height: 150px;
}

.ajustes{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

p{
    color: #F4ECEC;
    font-family: 'Quicksand';
}

.redes_sociais{
    display: flex;
    justify-content: space-between;
    width: 250px;
}