<header>
    <div class="logo">
        <div class="ajustes">
            <img  class="teatro" src="../../assets/img/logo-cinema.png">
            <h3>Conheça nossa Coletânea</h3>
        </div>
        <div class="cinema">
            <a href="http://localhost:4200/">Home</a>
            <a href="http://localhost:4200/usuario">Usuário</a>
            <a href="http://localhost:4200/filmes">Filmes</a>
            <a href="http://localhost:4200/genero">Gênero</a>
        </div>
    </div>
</header>

