main{
    max-width: 1220px;
    margin: auto;
}

.p_cadastro{
    margin-top: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.informacoes{
    display: flex;
    justify-content: space-between;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

input{
    width: 320px;
    height: 58px;
}

button{
    margin-top: 30px;
    background: #F6511D;
    color: #FFFFFF;
    width: 180px;
    height: 58px;
}

.ajustes_gerais{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 80px;
    flex-direction: column;
}

.laura{
   display: flex;
   justify-content: space-around;
}

.texto{
    width: 309px;
}
.nomes{
    font-family: 'Roboto', sans-serif;
}

.e-mail{
    font-family: 'Roboto', sans-serif;
}

.editar{
    background: #F6511D;
    border: 2px solid #F6511D;
    border-radius: 20px;
    width: 125px;
    height: 35px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.excluir{
    background: #41B8D2;
    border: 2px solid #41B8D2;
    border-radius: 20px;
    width: 125px;
    height: 35px;
    color: black;
    font-family: 'Roboto', sans-serif;
}