<app-header></app-header>
<main>
    <p class="p_cadastro">Cadastro</p>
    <div class="informacoes">
        <div>
            <p>Nome</p>
            <input id="text">
        </div>
        <div>
            <p>E-mail</p>
            <input id="text">
        </div>
        <div>
            <p>Telefone</p>
            <input id="text">
        </div>
    </div>
    <a><button>Cadastrar</button></a>
    <div class="ajustes_gerais">
        <div class="nomes">
            <P>Paulo Andre</P>
            <br>
            <P>Marcos Lucio</P>
            <br>
            <P>Laura Port</P>
        </div>
        <div class="e-mail">
            <p>paulo@email.com</p>
            <br>
            <p>marcos@email.com</p>
            <br>
            <p>laura@email.com</p>
        </div>
        <div>
            <p>3349 6788</p>
            <br>
            <p>3349 6788</p>
            <br>
            <p>3349 6788</p>
        </div>
        <div>
            <a><button class="editar">Editar</button></a>
            <br>
            <a><button class="editar">Editar</button></a>
            <br>
            <a><button class="editar">Editar</button></a>
        </div>
        <div>
            <a><button class="excluir">Excluir</button></a>
            <br>
            <a><button class="excluir">Excluir</button></a>
            <br>
            <a><button class="excluir">Excluir</button></a>
        </div>
    </div>
</main>
<app-footer></app-footer>