<app-header></app-header>
<main>
    <div class="drama">
        <p>Gêneros</p>
        <img src="./../../assets/img/teatro.png">
    </div>
    <div class="cadastro">
        <div>
            <p>Cadastrar Gênero</p>
            <input class="titulo do filme" type="text" id="descricao" placeholder="Gênero">
        </div>
        <div class="ordem">
            <a><button>Salvar</button></a>
        </div>
    </div>
    <div class="ajustes">
        <div class="escolhas">
            <p>Terror</p>
            <br>
            <p>Ação</p>
            <br>
            <p>Comédia</p>
        </div>
        <div class="botoes">
            <div>
                <a><button class="editar">Editar</button></a>
                <br><br>
                <a><button class="editar">Editar</button></a>
                <br><br>
                <a><button class="editar">Editar</button></a>
            </div>
            <div>
                <a><button class="excluir">Excluir</button></a>
                <br><br>
                <a><button class="excluir">Excluir</button></a>
                <br><br>
                <a><button class="excluir">Excluir</button></a>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>