<app-header></app-header>

<main>
    <p class="p_coletanea">Monte sua coletânea de filmes...</p>
        <div class="separacao">
            <p class="texto">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque libero similique, unde corporis
                facilis accusamus, labore voluptate, et incidunt exercitationem repellendus sunt consectetur autem vel
                iure repudiandae alias eos totam?
            </p>
            <p class="p_texto">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, velit repellat dolorum sapiente
                soluta aliquam. Illo, obcaecati ullam soluta consequatur totam qui sunt similique, corrupti et ex
                incidunt ea repellendus?
            </p>
        </div>
    <div class="geral_camera">
        <div class="camera">
            <img src="./../../assets/img/cinema.png">
            <div>
                <p class="p_filmes">Filmes</p>
                <p class="texto_camera">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim itaque cum mollitia odit explicabo
                    minima unde ab, iusto ipsum placeat voluptatum sit tempora laudantium voluptate? Possimus saepe
                    voluptate itaque soluta?
                </p>
            </div>
        </div>
        <div class="camera">
            <img src="./../../assets/img/teatro.png">
            <div>
                <p class="p_filmes">Categoria</p>
                <p class="texto_camera">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim itaque cum mollitia odit explicabo
                    minima unde ab, iusto ipsum placeat voluptatum sit tempora laudantium voluptate? Possimus saepe
                    voluptate itaque soluta?
                </p>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>