main{
    max-width: 1220px;
    margin: auto;
}

.p_coletanea{
    text-align: center;
    margin-top: 44px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}

.separacao{
    margin-top: 52px;
}

.texto{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;;
}

.p_texto{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.geral_camera{
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
}

.camera{
    width: 50%;
}
.p_filmes{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.texto_camera{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}