<app-header></app-header>
<main>
    <div class="video">
        <p>Filmes</p>
        <img src="./../../assets/img/cinema.png">
    </div>
    <div class="reforco">
        <div>
            <p class="p_filmes">Cadastrar Filmes</p>
            <input class="titulo do filme" type="text" id="descricao" placeholder="Titulo do Filme">
            <br>
        </div>
        <div>
            <select>
                <option>Gênero</option>
                <option>Romance</option>
                <option>Drama</option>
                <option>Ficção científica</option>
            </select>
        </div>
        <a><button>Salvar</button></a>
    </div>
    <div class="opcoes">
        <div>
            <p>Os outros</p>
            <br>
            <p>Até o último homem</p>
            <br>
            <p>O máscara</p>
        </div>
        <div>
            <p>Terror</p>
            <br>
            <p>Ação</p>
            <br>
            <p>Comédia</p>
        </div>
        <div>
            <a><button class="editar">Editar</button></a>
            <br><br>
            <a><button class="editar">Editar</button></a>
            <br><br>
            <a><button class="editar">Editar</button></a>
        </div>
        <div>
            <a><button class="excluir">Excluir</button></a>
            <br><br>
            <a><button class="excluir">Excluir</button></a>
            <br><br>
            <a><button class="excluir">Excluir</button></a>
        </div>
    </div>
</main>
<app-footer></app-footer>